{% extends "accounts/email_base.html" %}

{% block content %}
<p>
  požádali jste o reset hesla na Vašem portálu Mapotip.
  Pro nastavení nového hesla použijte následující odkaz
  <a
    class="md-button raised primary"
    href="{{ site_url }}/accounts/new-password/?uid={{ uid }}&token={{ token }}"
  >
    Nové heslo
  </a>
</p>
<br />
<p>Pokud jste tento email dostali omylem, můžete jej bezpečně ignorovat.</p>

<p>
  <small>
    V případě, že vám nefunguje odkaz, zkopírujte tuto URL do svého prohlížeče:
    {{ site_url }}/accounts/new-password/?uid={{ uid }}&token={{ token }}
</small>
</p>
{% endblock %}